@import '../../assets/style/var';
@import '../../assets/style/mixin';

.bottom-tab-bar-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1001;
  background-color: #ffffff;
  .bottom-tab-bar {
    display: flex;
    height: 48px;
    line-height: 48px;
    @include border-1px-before(rgba(7, 17, 27, 0.1));
    .bottom-tab-bar-item {
      flex: 1;
      text-align: center;
      & > a {
        display: block;
        font-size: 14px;
        color: rgb(77, 85, 93);
        & > span {
          &.active {
            color: $--color-primary;
          }
        }
      }
    }
  }
}
