
.home {
  margin-bottom: 48px;
  background-color: #f7f7f7;
  .home-jobs {
    padding-top: 6px;
    margin-top: 80px;
    .scroll {
      height: calc(100vh - 128px);
      overflow: hidden;
    }
  }
}
